.footer-content{
    height: 134px;
    width: 100%;
    background-color:#c2185b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.footer-link{

    margin-right: 20px;

    a{
        color: #303030;
        text-decoration: none;
    }

    span{

        color: #303030;
    }
}

