<div class="form-container mat-elevation-z5">

    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email">
            <mat-error *ngIf="email?.errors?.['email']"> Please enter a correct email format </mat-error>
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']"> Password ist repuired </mat-error>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>

        <div class="center-column">
            <span class="center margin-top">New to our platform?</span>
            <button class="sign-up-btn" mat-raised-button color="accent"><a class="sign-up-link"
                    routerLink="/signup">Sign-Up Now!</a></button>
        </div>


    </form>

</div>

<div class="discriptions">

    <div class="discription">
        <span>Add Todos</span>
        <mat-icon color="warn">add</mat-icon>
    </div>
    <div class="discription">
        <span>Sort Todos</span>
        <mat-icon color="warn">sort</mat-icon>
    </div>
    <div class="discription">
        <span>Search Todos</span>
        <mat-icon color="warn">search</mat-icon>
    </div>
    <div class="discription"><span>Set Alarm</span>
        <mat-icon color="warn">alarm</mat-icon>
    </div>
</div>