.toolbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.toolbar-menu-btn{

    display: flex;
    align-items: center;
}

.hide-logo{

    display: none;
}

.show-logo{

    display: block;
}

