<div class="todos-container mb-mt-50">

  <div class="form">

    <form class="todo-form mb-mt-50" #contactForm="ngForm">
      <mat-form-field class="todo-title" appearance="fill">
        <mat-label>Title</mat-label>
        <input class="title-input" [(ngModel)]="todo.title" type="text" name="title" matInput
          placeholder="Please add your Title">
      </mat-form-field>

      <mat-form-field class="todo-content" appearance="fill">
        <mat-label>Discription</mat-label>

        <textarea class="text-input" [(ngModel)]="todo.discription" type="text" name="discription" matInput
          placeholder="Please add Todo Discription">
         </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Todo Date</mat-label>
        <input [(ngModel)]="todo.date" name="date" matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button type="submit" (click)="addTodo()" mat-raised-button color="primary" #tooltip="matTooltip"
        matTooltip="Create Todo">
        <mat-icon>add</mat-icon>
      </button>

    </form>

  </div>

  <div class="sort-menu">
    <button mat-button color="primary" (click)="sortByDate()" #tooltip="matTooltip" matTooltip="Sort by Date">
      <mat-icon>sort</mat-icon>
    </button>

    <div class="search-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="searchedTodo" type="text" name="title" matInput placeholder="Please add your Title">
      </mat-form-field>
      <button mat-button color="primary" (click)="searchTodo()" #tooltip="matTooltip" matTooltip="search Todo by Title">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button color="primary" (click)="cancelSearch()" #tooltip="matTooltip" matTooltip="clear search">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <p *ngIf="notFound">not found</p>

  </div>

  <h2>Todos</h2>

  <div class="all-todos mb-mt-50">

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos" [cdkDropListConnectedTo]="[doneList]"
      class="todos" (cdkDropListDropped)="drop($event)">

      <div class="todo-container" *ngFor="let todo of todos" cdkDrag>
        <mat-card class="todo-card" [class.border]="todo.found" [class.alarm]="todo.alarm1">
          <mat-card-title><span>{{todo.title}}</span></mat-card-title>
          <mat-card-content>
            <p>{{todo.discription}}</p>
            <p *ngIf="todo.date" id="date">{{todo.date.seconds*1000 | date: 'dd-MM-yyyy'}}</p>
          </mat-card-content>
        </mat-card>

        <div class="todo-edit-delete">

          <div class="edit-delete">
            <button mat-button (click)="editTodo(todo)" #tooltip="matTooltip" matTooltip="Edit you Todo">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="delete-btn" mat-button (click)="deleteTodo(todo)" #tooltip="matTooltip"
              matTooltip="Delete Todo">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

          <div class="alarm-container">
            <input min="1" max="720" required class="number-input" type="number" placeholder="z.B 1"
              [(ngModel)]="todo.alarm">
            <button class="alarm-btn" (click)="setAlarm(todo)">Set Alarm</button>
            <button class="alarm-btn" (click)="stopAlarm(todo)">Stop Alarm</button>
            <div class="alam-discription" *ngIf="todo.alarmActive">
              <p>Alarm set for: {{ todo.alarm }} Minute(s)</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <h2>Done</h2>

  <div class="done-container" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)">

    <div class="todo-container" *ngFor="let item of done" cdkDrag>


      <mat-card class="todo-card ">
        <mat-card-title><span>{{item.title}}</span></mat-card-title>
        <mat-card-content>
          <p>{{item.discription}}</p>
          <p *ngIf="item.date" id="date">{{item.date.seconds*1000 | date: 'dd-MM-yyyy'}}</p>
        </mat-card-content>
      </mat-card>

      <div class="todo-edit-delete  done" [class.done]="doneTodo">
        <button class="delete-btn" mat-button (click)="deleteTodo(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>


    </div>
  </div>

</div>
