<!-- <div class=" todos-header center mb-mt-50">
    <h1>Todos</h1>
</div> -->

<div class="todos-container mb-mt-50">

  <div class="form">

    <form class="todo-form mb-mt-50">
      <mat-form-field class="todo-title" appearance="fill">
        <mat-label>Title</mat-label>
        <input class="title-input" [(ngModel)]="todo.title" type="text" name="title" matInput
          placeholder="Please add your Title">
      </mat-form-field>

      <mat-form-field class="todo-content" appearance="fill">
        <mat-label>Discription</mat-label>

        <textarea class="text-input" [(ngModel)]="todo.discription" type="text" name="discription" matInput
          placeholder="Please add Todo discription">
         </textarea>
      </mat-form-field>

      <button type="submit" (click)="addTodo()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
      </button>

    </form>

  </div>

  <div class="all-todos mb-mt-50">
    <div class="todo-container"  *ngFor="let todo of todos ;let i = index ">
      <mat-card class="todo-card">
        <mat-card-title><span>{{todo.title}}</span></mat-card-title>
        <mat-card-content>
          <p>{{todo.discription}}</p>
        </mat-card-content>
      </mat-card>
      <button class="delete-btn" mat-button (click)="deleteTodo(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    
  </div>

</div>