/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #303030;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-mt-50 {

    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 48px;
    border-radius: 16px;
    color: white;
    background-color: #3a3a3a;
}

.form-container mat-form-field {

    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.center-column{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top{

    margin-top: 16px;
}

.text-center{

    text-align: center;
}